@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* CSS HSL 
--mindaro: hsla(84, 93%, 83%, 1);
--mindaro-2: hsla(76, 59%, 70%, 1);
--moss-green: hsla(78, 22%, 55%, 1);
--reseda-green: hsla(65, 10%, 47%, 1);
--dim-gray: hsla(285, 2%, 39%, 1);
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(100, 250, 155);
    color:#29332D;
}

nav{
    position: fixed;
    margin: 0;
    background-color: #43A868;
    text-align: center;
    width:100%;
    padding: 0% 0;
    z-index: 10;
    font-family: 'Lato';
}
nav .title{
    position: relative;
    font-size: 35px;
    margin-right: 30px;
}
nav .category{
    position: relative;
    font-size: 25px;
    margin-right: 9px;
    padding: 20px 8px;
}
/*nav a:hover{
    text-decoration: underline;
    color: #617e67;
    cursor: pointer;
}*/
nav .category:hover{
    background-color: #467558;
    cursor: pointer;
}
nav .title:hover{
    cursor: pointer;
    color:#35423A;
}
nav button{
    position: relative;
    font-size: 25px;
    background-color: #2BDB6C;
    color:#35423A;
    border: none;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;

}
nav button:hover{
    background-color: #29ca64;
    font-size: 24.9px;
}
nav button:active{
    background-color: #27c05f;
    font-size: 24.8px;
}
.content-block{
    position: relative;
    top:70px;
    display: none;
}
.content-block img{
    position: relative;
    display: block;
    width: 90%;
    border: 5px solid hsla(78, 22%, 55%, .4);
    margin: 0 auto;
}
.content-block p{
    position: relative;
    color: hsla(285, 2%, 39%, 1);
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    line-height: 20px;
}

