@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* CSS HSL 
--mindaro: hsla(84, 93%, 83%, 1);
--mindaro-2: hsla(76, 59%, 70%, 1);
--moss-green: hsla(78, 22%, 55%, 1);
--reseda-green: hsla(65, 10%, 47%, 1);
--dim-gray: hsla(285, 2%, 39%, 1);
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #DDFCAD;
}
.header h1{
    width: fit-content;
    margin-right: 10%;
    font-weight: 1000;
}
.header h3{
    width: fit-content;
    font-weight: 800;
}
.header{
    position: fixed;
    margin: 0;
    background-color: #95A472;
    text-align: center;
    width:100%;
    padding: 1% 0;
    z-index: 10;
}
.header h1, .header h3{
    display: inline-block;
}
.header h3, .header button{
    margin-left: 8%;
}
.header button{
    width: 80px;
    height: 30px;
    background-color: hsla(84, 93%, 83%, 1);
    color: black;
    border-radius: 5px;
    margin-right: 2%;
}
.content-block{
    position: relative;
    top:70px;
}
.content-block img{
    position: relative;
    display: block;
    width: 90%;
    border: 5px solid hsla(78, 22%, 55%, .4);
    margin: 0 auto;
}
.content-block p{
    position: relative;
    color: hsla(285, 2%, 39%, 1);
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    line-height: 20px;
}

