@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* CSS HSL 
--mindaro: hsla(84, 93%, 83%, 1);
--mindaro-2: hsla(76, 59%, 70%, 1);
--moss-green: hsla(78, 22%, 55%, 1);
--reseda-green: hsla(65, 10%, 47%, 1);
--dim-gray: hsla(285, 2%, 39%, 1);
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(100, 250, 155);
    color:#29332D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

nav{
    display: grid;
    position: fixed;
    background-color: #43A868;
    width:100%;
    height: 3.3rem;
    align-content: center;
    z-index: 10;
    font-family: 'Lato';
    grid-template-columns: 11fr repeat(3, 4fr) 3fr 0fr;
}
nav .title{
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    justify-self: start;
    width: 100%;
    align-self: center;
    margin-left: 1rem;
}
nav .category{
    position: relative;
    font-size: 1.87rem;
    font-weight: 600;
    align-self: center;
}

nav .category:hover{
    color: #467558;
    cursor: pointer;
}
nav .title:hover{
    cursor: pointer;
    color:#35423A;
}
nav button{
    position: relative;
    font-size: 1.3rem;
    background-color: #2BDB6C;
    color:#35423A;
    font-weight: 530;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    justify-self: flex-start;
    width: 4.6rem;
    height: 2.2rem;
    align-self: center;
}
nav button:hover{
    background-color: #29ca64;
}
nav button:active{
    background-color: #27c05f;
}
.content{
    position: relative;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    top: 10px;
}
.overview{
    display:block;
    background-color: #29332D;
    padding-bottom: 15px;
    margin:5px;
    max-height: 500px;
    max-width: 500px;
    overflow-y: scroll;
}

.overview .top-text{
    display:block;
    position: relative;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.water{
    display:block;
    background-color: #27c05f;
    width: 97vw;
}
.tasks{
    display:block;
    background-color: #27c05f;
    margin-top:10px;
    width: 97vw;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    min-height:150px;
    margin:5px;
}
.item img{
    height: 100px;
    width: 100px;
    margin-bottom: 3px;
}
